[Unit]
Description=mewture daemon

[Service]
WorkingDirectory=%h
ExecStart=/usr/local/bin/mewture_daemon
Restart=always
PrivateTmp=true
NoNewPrivileges=true
